* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  height: 300px;
  width: 100%;
}

.left, .right {
  width: 30%;
  height: 300px;
}

.middle {
  width: 30%;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
